@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Pagina de Clientes</h1>
<div>
<a class="btn btn-light" asp-area="" asp-controller="Clientes" asp-action="Insertarclientes">Insertar</a>
<a class="btn btn-light" asp-area="" asp-controller="Clientes" asp-action="Eliminarclientes">Eliminar</a>
<a class="btn btn-light" asp-area="" asp-controller="Clientes" asp-action="Modificarclientes">Modificar</a>
<a class="btn btn-light" asp-area="" asp-controller="Clientes" asp-action="Consultarclientes">Consultar</a>
</div>