
@{
    ViewData["Title"] = "Inicio";
}
<h1>Pagina de Almacen</h1>
<div>
<a class="btn btn-light" asp-area="" asp-controller="Almacen" asp-action="Insertaralmacen">Insertar</a>
<a class="btn btn-light" asp-area="" asp-controller="Almacen" asp-action="Eliminaralmacen">Eliminar</a>
<a class="btn btn-light" asp-area="" asp-controller="Almacen" asp-action="Modificaralmacen">Modificar</a>
<a class="btn btn-light" asp-area="" asp-controller="Almacen" asp-action="Consultaralmacen">Consultar</a>
</div>
